<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
  <title>CRUD</title>
</head>
<body>
  

<div class="container">
  <h2><%= title %></h2>
  <!-- <a href="/add" class="btn btn-sm btn-primary">Add User</a><br/><br/> -->
  <table class="table table-dark table-striped">
    <thead>
      <tr>
        <th>CategoryId</th>
        <th>CategoryName</th>
        <!-- <th>CategoryId</th>
        <th>CategoryName</th> -->
        <th>Action</th>
      </tr>
    </thead>
    <tbody>
        <% category.forEach(function(category){ %>
            <tr>
                <td><%= category.CategoryId %></td>
                <td><a href="categories/<%= category.CategoryId %>"><%= category.CategoryName %></a></td>

                <td>
                    <a href="change/<%= category.CategoryId %>" class="btn btn-sm btn-primary" >Edit</a>
                    <a href="remove/<%= category.CategoryId %>" class="btn btn-sm btn-danger">Delete</a>
                </td>
            </tr>
        <% }); %>
    </tbody>
  </table>
<a href="add/category/" class="btn btn-sm btn-primary">Add Category</a>
</div>
</body>
</html>